<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마법 상점</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dialogue.css') }}">
</head>
<body>
<main id="main">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <img id="dialogue_image" src="" alt="">
    <div id="dialogue_name" class="name"></div>
    <div id="dialogue_text" class="text"></div>
</main>
<audio id="bgm" src="{{ url_for('static', filename='music/intro_bg.ogg') }}" loop autoplay></audio>
<script src="{{ url_for('static', filename='js/dialogue.js') }}"></script>
</body>
</html>