<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마법 상점</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dialogue.css') }}">
</head>
<body>
<main id="main">
    <img id="dialogue_image" src="{{ url_for('static', filename=dialogues[0].image_path) }}" alt="">
    <div id="dialogue_name" class="name">{{ dialogues[0].name }}</div>
    <div id="dialogue_text" class="text"></div>
</main>
<script>
    let currentDialogueIndex = -1;
    let dialogues = [
  {
    "name": "이민혁",
    "text": "난 미림 마이스터고에 재학 중인 이민혁, 올해부터 남녀공학이 되어서 다니게 되었다 학교를 다니던 중 내가 진짜 좋아하는 애가 생겼다. 입학식 때부터 내 마음을 훔쳐간 원영이…가슴 절절 앓는 짝사랑 끝에 고백을 하려고 마음을 먹었는데 며칠 전에 원영이가 같은 반 창균이를 좋아하고 있다는 소문을 들었다. 그렇게 원영이를 뺏기지 않고 싶은 마음에 나는 소원을 들어준다는 마녀의 물약 상점으로 가봤다.",
    "image_path": "images/love/1.PNG"
  },
  {
    "name": "마녀",
    "text": "어서오세요! 어떤 소원으로 물약 상점에 오셨죠??.",
    "image_path": "images/witch/2.PNG"
  },
  {
    "name": "이민혁",
    "text": "저…학교에 진짜 좋아하는 여자애가 있거든요…!! 근데 그 친구는 다른 남자애를 좋아해요.. 그 여자애가 저를 좋아하도록 하는 물약은 없나요??",
    "image_path": "images/love/3.PNG"
  },
  {
    "name": "마녀",
    "text": "사랑의 물약 말씀하시는 거군요!! 당연히 있죠!! 지금부터 당신의 소원을 들어드릴 사랑의 물약을 만들어드릴게요!!",
    "image_path": "images/witch/1.PNG"
  }
];
    let dialoguesCount = {{ dialogues|length }};
    let dialogueName = document.getElementById('dialogue_name');
    let dialogueText = document.getElementById('dialogue_text');
    let dialogueImage = document.getElementById('dialogue_image');

    function displayNextDialogue() {
        dialogueText.innerHTML = '';
        currentDialogueIndex++;
        if (currentDialogueIndex >= dialoguesCount) {
            window.open('/start', '_top')
        }

        var dialogue = dialogues[currentDialogueIndex];
        dialogueName.textContent = dialogue.name;
        dialogueImage.src = "{{ url_for('static', filename='') }}" + dialogue.image_path;

        // 대화 텍스트를 한 글자씩 보여주는 애니메이션
        var index = 0;
        var textInterval = setInterval(function() {
            if (index < dialogue.text.length) {
                dialogueText.textContent += dialogue.text[index];
                index++;
            } else {
                clearInterval(textInterval); // 모든 텍스트가 표시되면 인터벌 중지
            }
        }, 50); // 한 글자씩 보여주는 시간 간격 (밀리초 단위)

        // 대화 텍스트가 모두 표시된 후에 자동으로 다음 대화 표시
        setTimeout(displayNextDialogue, dialogue.text.length * 50 + 1000); // 대화 텍스트 길이 * 간격 + 추가 시간
    }

    // 초기에는 첫 번째 대화를 표시
    displayNextDialogue();
</script>
</body>
</html>
