<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>마법 상점</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>소원을 이루어 드립니다,마법상점</h1>
    <a href="/start">tab to start</a>
    <audio id="bgm" src="{{ url_for('static', filename='music/opening_bg.mp3') }}" loop autoplay></audio>
</body>
</html>