<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마법 상점</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dialogue.css') }}">
</head>
<body>
<main id="main">
    <img id="dialogue_image" src="" alt="">
    <div id="dialogue_name" class="name"></div>
    <div id="dialogue_text" class="text"></div>
</main>
<script>
    let currentDialogueIndex = -1;
    let dialogues = [
        {
            "name": "백예린",
            "text": "하… 내 내나이 21 남들은 한창 청춘을 즐길 때 난 독서실에 박혀 대학 입시를 준비 중이다.. 남들은 다 캠퍼스 라이프를 누린다던데..난 아직까지 고3생활에 막을 내리지 못하고 있다..아무리 열심히 공부를 해도 결과가 안나와서 스트레스를 받던 중 수능 전 날에 지푸라기라도 잡는 심정으로 소원을 들어준다는 마녀의 물약 상점이 있다고 들어 방문을 했다",
            "image_path": "images/study/1.PNG"
        },
        {
            "name": "마녀",
            "text": "어서오세요! 어떤 소원으로 물약 상점에 오셨죠??.",
            "image_path": "images/witch/2.PNG"
        },
        {
            "name": "백예린",
            "text": "저…내일이 당장 수능인데…진짜 답이 없어요 이번에는 대학 꼭 가야하는데ㅜㅜ 당장 똑똑해 질 수 있는 물약 없을까요???",
            "image_path": "images/study/3.PNG"
        },
        {
            "name": "마녀",
            "text": "지성의 물약 말씀하시는 거군요!! 당연히 있죠!! 지금부터 당신의 소원을 들어드릴 지성의 물약을 만들어드릴게요!!",
            "image_path": "images/witch/1.PNG"
        }
    ];
    let dialoguesCount = dialogues.length;
    let dialogueName = document.getElementById('dialogue_name');
    let dialogueText = document.getElementById('dialogue_text');
    let dialogueImage = document.getElementById('dialogue_image');

    function displayNextDialogue() {
        dialogueText.innerHTML = '';
        currentDialogueIndex++;
        if (currentDialogueIndex >= dialoguesCount) {
            window.open('/start', '_top')
        }

        var dialogue = dialogues[currentDialogueIndex];
        dialogueName.textContent = dialogue.name;
        dialogueImage.src = "{{ url_for('static', filename='') }}" + dialogue.image_path;

        // 대화 텍스트를 한 글자씩 보여주는 애니메이션
        var index = 0;
        var textInterval = setInterval(function () {
            if (index < dialogue.text.length) {
                dialogueText.textContent += dialogue.text[index];
                index++;
            } else {
                clearInterval(textInterval); // 모든 텍스트가 표시되면 인터벌 중지
            }
        }, 50); // 한 글자씩 보여주는 시간 간격 (밀리초 단위)

        // 대화 텍스트가 모두 표시된 후에 자동으로 다음 대화 표시
        setTimeout(displayNextDialogue, dialogue.text.length * 50 + 1000); // 대화 텍스트 길이 * 간격 + 추가 시간
    }

    // 초기에는 첫 번째 대화를 표시
    displayNextDialogue();
</script>
</body>
</html>
