<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마법 상점</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dialogue.css') }}">
</head>
<body>
<main id="main">
    <img id="dialogue_image" src="" alt="">
    <div id="dialogue_name" class="name"></div>
    <div id="dialogue_text" class="text"></div>
</main>
<script>
    let currentDialogueIndex = -1;
    let dialogues = [
        {
            "name": "김지수",
            "text": "난 미림 마이스터고에 재학 중인 2학년이다. 이번에 작업 능률을 올리기 위해 무려 에어팟 맥스를 구입하려고 한다.. 허나 비싸기도 비싼데 난 지금 돈이 하나도 없다..부모님은 절대 사주실 마음이 없다고 하고 내 용돈을 모아 사려면 거진 1년을 굶고 다녀야한다 알바를 할까 생각하지만 빡센 학교 생활 탓에 알바할 시간과 체력도 없는 상태이다 어쩌면 좋지 생각하다가 소원을 들어주는 마녀의 물약 상점이 있다는 소식을 들어 방문하게 되었다. ",
            "image_path": "images/money/1.PNG"
        },
        {
            "name": "마녀",
            "text": "어서오세요! 어떤 소원으로 물약 상점에 오셨죠??.",
            "image_path": "images/witch/2.PNG"
        },
        {
            "name": "김지수",
            "text": "제가 진짜 갖고 싶은 물건이 있거든요…??? 당장 사고 싶은데 살 돈도 없고…당장 돈을 벌 여건도 안돼요ㅠㅠㅠ 진짜 꼬옥 갖고 싶은데 돈을 얻을 수 있는 물약이 없을까요??",
            "image_path": "images/money/3.PNG"
        },
        {
            "name": "마녀",
            "text": "부유의 물약 말씀하시는 거군요!! 당연히 있죠!! 지금부터 당신의 소원을 들어드릴 부유의 물약을 만들어드릴게요!!",
            "image_path": "images/witch/1.PNG"
        }
    ];
    let dialoguesCount = dialogues.length;
    let dialogueName = document.getElementById('dialogue_name');
    let dialogueText = document.getElementById('dialogue_text');
    let dialogueImage = document.getElementById('dialogue_image');

    function displayNextDialogue() {
        dialogueText.innerHTML = '';
        currentDialogueIndex++;
        if (currentDialogueIndex >= dialoguesCount) {
            window.open('/start', '_top')
        }

        var dialogue = dialogues[currentDialogueIndex];
        dialogueName.textContent = dialogue.name;
        dialogueImage.src = "{{ url_for('static', filename='') }}" + dialogue.image_path;

        // 대화 텍스트를 한 글자씩 보여주는 애니메이션
        var index = 0;
        var textInterval = setInterval(function () {
            if (index < dialogue.text.length) {
                dialogueText.textContent += dialogue.text[index];
                index++;
            } else {
                clearInterval(textInterval); // 모든 텍스트가 표시되면 인터벌 중지
            }
        }, 50); // 한 글자씩 보여주는 시간 간격 (밀리초 단위)

        // 대화 텍스트가 모두 표시된 후에 자동으로 다음 대화 표시
        setTimeout(displayNextDialogue, dialogue.text.length * 50 + 1000); // 대화 텍스트 길이 * 간격 + 추가 시간
    }

    // 초기에는 첫 번째 대화를 표시
    displayNextDialogue();
</script>
</body>
</html>
